@{
    ViewData["Title"] = "Cadastrar Contato";
}

<div class="text-center">
  <h1 class="display-4">Cadastrar Contato</h1>
</div>

<form>
    <div class="form-group mb-3">
        <label for="name">Nome</label>
        <input type="text" class="form-control" placeholder="Digite aqui o nome do contato">
    </div>

    <div class="form-group mb-3">
        <label for="email">E-mail</label>
        <input type="text" class="form-control" placeholder="Digite aqui o e-mail do contato">
    </div>

    <div class="form-group mb-4">
        <label for="telephone">Telefone</label>
        <input type="text" class="form-control" placeholder="Digite aqui o telefone do contato">
    </div>

    <a class="btn btn-outline-secondary" role="button" asp-controller="Contact" asp-action="Index">Voltar</a>
    <button type="submit" class="btn btn-outline-dark">Salvar</button>
</form>
