@{
    ViewData["Title"] = "Excluir Contato";
}

<div class="text-center">
  <h3 class="display-4 mb-4">Realmente deseja excluir o contato (Nick Nelson)?</h3>

  <a class="btn btn-outline-secondary btn-block" role="button" asp-controller="Contact" asp-action="Index">Cancelar</a>
<a class="btn btn-outline-danger btn-block" role="button">Excluir</a>
</div>
